.wrapper-class {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.wrapper-class:focus {
  border-color: #f3f4f6;
}

.editor-class {
  padding: 5px 10px;
}

.rdw-editor-main {
  border: 2px solid #f3f4f6;
  border-radius: 5px;
}

.rdw-editor-toolbar {
  display: none;
}

.rdw-editor-main:focus .rdw-editor-toolbar {
  display: block;
}

.rdw-editor-main:active .my-custom-class > img {
  width: 14px;
  height: 14px;
}
.my-custom-class {
  display: inline-block;
  background: white;
  padding: 10px;
  border-radius: 5px;
  background: #f4f4f4;
  cursor: pointer;
}

.my-custom-class.active {
  background: #ddd !important;
  border: 1px solid #111827 !important;
}

.rdw-inline-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.rdw-option-active {
  background: #ddd !important;
}
